body {
    font-family: cursive;
}


.tall-section {
      height: 1000px;
      background-color: #f8f8f8;
}

.dropdown-menu {
      width: 100%;
      background-color: #f8f8f8;
}

.paragraph-heading {
        text-align: center;
}
